<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/bootstrap-icons-1.11.1/bootstrap-icons.css"/>
    <link rel="icon" type="image/x-icon" href="Icon.ico">
</head>
<body class="d-flex flex-column min-vh-100" data-bs-theme="dark">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="bi bi-github fa-2x mx-3 ps-1"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form id="githubSearchForm" class="me-3">
                    <div class="form-white input-group" style="width: 250px;">
                        <input id="searchInput" type="search" class="form-control rounded" placeholder="Search or jump to... ( / )"
                               aria-label="Search" aria-describedby="search-addon"/>
                    </div>
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/luke-beep?tab=repositories">Other Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/luke-beep">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://leakosint.com/api">Documentation</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-mdb-toggle="dropdown"
                           aria-expanded="false">
                            <img id="userImage" src="Icon.ico" class="rounded-circle" height="30" alt="User Image" loading="lazy" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container flex-grow-1">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="text-center text-lg-start text-white mt-auto bg-body">
    <section class="d-flex justify-content-between p-4 bg-secondary">
        <div class="me-5">
        </div>
        <div>
            <a href="https://twitter.com/LuckyLukeHjo" class="text-white me-4">
                <i class="bi bi-twitter-x"></i>
            </a>
            <a href="https://github.com/luke-beep" class="text-white me-4">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://duckduckgo.com/?q=luckylukehjo" class="text-white me-4">
                <i class="bi bi-search"></i>
            </a>
            <a href="https://github.com/luke-beep/OSINTDashboard" class="text-white me-4">
                <i class="bi bi-code-slash"></i>
            </a>
        </div>
    </section>
    <section class="bg-body">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">LukeHjo</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto bg-secondary"
                        style="width: 60px; height: 2px"/>
                    <p>
                        I'm a Civil Engineer with a passion for programming. Always learning and exploring the latest tech trends to make a positive impact with innovative solutions.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Other Applications</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto bg-secondary"
                        style="width: 60px; height: 2px"/>
                    <p>
                        <a href="https://github.com/luke-beep/OSINTDashboard" class="text-white">OSINT Dashboard</a>
                    </p>
                    <p>
                        <a href="https://github.com/luke-beep/HoneCTRL" class="text-white">HoneCTRL</a>
                    </p>
                    <p>
                        <a href="https://github.com/luke-beep/all-about-windows" class="text-white">All about Windows</a>
                    </p>
                    <p>
                        <a href="https://github.com/luke-beep/MeasureSleep" class="text-white">Measure Sleep</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto bg-secondary"
                        style="width: 60px; height: 2px"/>
                    <p>
                        <a href="https://github.com/luke-beep?tab=repositories" class="text-white">Other Projects</a>
                    </p>
                    <p>
                        <a href="https://github.com/luke-beep?tab=stars" class="text-white">Starred Projects</a>
                    </p>
                    <p>
                        <a href="https://github.com/luke-beep" class="text-white">About Me</a>
                    </p>
                    <p>
                        <a href="https://leakosint.com/api" class="text-white">Documentation</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto bg-secondary"
                        style="width: 60px; height: 2px"/>
                    <p><i class="bi bi-house mr-3"></i> Bikini Bottom, Pacific Ocean</p>
                    <p><i class="bi bi-envelope mr-3"></i> lukehjo@duck.com</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-3">
        © 2023 Copyright:
        <a class="text-white" href="https://github.com/luke-beep">LukeHjo</a>
    </div>
</footer>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>

<script>
    document.getElementById("githubSearchForm").addEventListener("submit", function (e) {
        e.preventDefault();
        const searchQuery = document.getElementById("searchInput").value;
        const githubSearchURL = `https://github.com/search?q=${encodeURIComponent(searchQuery)}`;
        window.location.href = githubSearchURL;
    });
</script>